<a href="https://colab.research.google.com/github/Jordy-Rodrigues/CLASSIFICAR-VINHO-SENDO-TINTO-OU-BRANCO/blob/main/verificar_%C3%81cides_do_vinho_projeto_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CLASSIFICAR UMA BASE DE DADOS DE VINHO PELA SUA ÁCIDES COMO SENDO VINHO TINTO OU VINHO BRANCO**

In [5]:
#IMPORTAR BIBLIOTECA BANCDAS E LER A BASE DE DADOS
import pandas as pd
arquivo=pd.read_csv("/content/drive/MyDrive/wine_dataset.csv")

In [50]:
# MOSTRAR A TABELA
arquivo

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,1
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

In [52]:
# TRANSFORMAR A COLUNA 'Style' DE TEXTO PARA NUMÉRICA
arquivo['style']= arquivo['style'].replace('red', 0)
arquivo['style']= arquivo['style'].replace('white', 1)

In [53]:
# MOSTRAR A TABELA
arquivo

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,1
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

In [49]:
# SEPARAR AS VARIAVEIS ENTRE PREDITORAS E VARIAVEIS ALVO
y=arquivo['style']
x=arquivo.drop('style', axis=1)

In [31]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
6492    1
6493    1
6494    1
6495    1
6496    1
Name: style, Length: 6497, dtype: int64

In [32]:
print(x)

      fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0               7.4              0.70         0.00             1.9      0.076
1               7.8              0.88         0.00             2.6      0.098
2               7.8              0.76         0.04             2.3      0.092
3              11.2              0.28         0.56             1.9      0.075
4               7.4              0.70         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
6492            6.2              0.21         0.29             1.6      0.039
6493            6.6              0.32         0.36             8.0      0.047
6494            6.5              0.24         0.19             1.2      0.041
6495            5.5              0.29         0.30             1.1      0.022
6496            6.0              0.21         0.38             0.8      0.020

      free_sulfur_dioxide  total_sulfur_dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
6492                 24.0                  92.0  0.99114  3.27       0.50
6493                 57.0                 168.0  0.99490  3.15       0.46
6494                 30.0                 111.0  0.99254  2.99       0.46
6495                 20.0                 110.0  0.98869  3.34       0.38
6496                 22.0                  98.0  0.98941  3.26       0.32

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
6492     11.2        6
6493      9.6        5
6494      9.4        6
6495     12.8        7
6496     11.8        6

[6497 rows x 12 columns]

PERAR OS DADOS PARA O MODELO

In [35]:
# IMPORTAR O MODELO DA BIBLIOTECA SKLEARN
from sklearn.model_selection import train_test_split

In [36]:
# CRIAR UM CONJUNTO DE DADOS DE TREINO E TESTE
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size=0.3)

In [42]:
# VER O TOTAL DE LINHAS E COLUNAS DO DATASET
arquivo.shape

(6497, 13)

In [44]:
# BASE DE DADOS SEPARADOS PARA TREINO
x_treino.shape

(4547, 12)

In [45]:
y_treino.shape

(4547,)

CRIAR O MODELO DE MACHINE LEARNING

In [46]:
# IMPORTAR A BIBLIOTECA CLASSIFICADOR DE ÁRVORES EXTRA
from sklearn.ensemble import ExtraTreesClassifier
modelo= ExtraTreesClassifier()
modelo.fit (x_treino, y_treino)

ExtraTreesClassifier()

In [47]:
# CONFERIR O RESULTADO DO TREINO
resultado= modelo.score (x_teste, y_teste)

print('acurácia: ', resultado)

acurácia:  0.9958974358974358

In [62]:
# 5 DADOS ALEATÓRIOS DE TESTE PARA O MODELO TENTAR PREVER
y_teste [400:405]

2059    1
3127    1
2247    1
3892    1
3366    1
Name: style, dtype: int64

In [58]:
x_teste [400:405]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
2059,7.1,0.21,0.27,8.6,0.056,26.0,111.0,0.99560,2.95,0.52,9.5,5
3127,7.4,0.27,0.49,1.1,0.037,33.0,156.0,0.99200,3.15,0.54,11.1,6
2247,6.0,0.32,0.12,5.9,0.041,34.0,190.0,0.99440,3.16,0.72,10.0,5
3892,7.3,0.40,0.28,6.5,0.037,26.0,97.0,0.99148,3.16,0.58,12.6,7
3366,7.4,0.32,0.22,1.7,0.051,50.0,179.0,0.99550,3.28,0.69,8.9,5

In [64]:
# MODELO VAI TENTAR PREVER OS 5 DADOS DE TESTE QUE FORAM SEPARADOS A CIMA
previsoes= modelo.predict(x_teste [400:405])
previsoes

array([1, 1, 1, 1, 1])

In [66]:
# OBS: O MODELO PREVIU CORRETAMENTE OS DADOS